nav{
    background-color: #563d7c;
    display: flex;
    padding: 30px 40px;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
}
li{
    list-style: none;
}
ul li a{
    text-decoration: none;
    margin: 0px 20px;
    color: white;
    font-weight: bolder;
}ul li a:hover{
    color: yellow;
    text-decoration: none;
}
.container{
 background-color: #212529;
}